.git
.github
.idea
.vscode
.fleet

.env
.env.*
!.env.example
!.env.production.example

node_modules
vendor
storage/logs/*.log
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
bootstrap/cache/*.php

public/hot
public/build
public/storage
public/recordpdf
public/fs_census4_scanfile
public/fs_census5_scanfile
public/ss_10m_census1_scanfile
public/ss_10m_census2_scanfile
public/ss_10m_census3_scanfile
public/ss_1ha_census1_scanfile
public/ss_1ha_census2_scanfile
public/splist
public/FDPfiles
public/SSPfiles

FDPdata
fushanseed
initdb
data

npm-debug.log
yarn-error.log
.phpunit.result.cache
