
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/FDPdata
/fushanseed
/public/recordpdf
composer.json
composer.lock
/public/fs_census4_scanfile
/public/fs_census5_scanfile
/public/ss_10m_census1_scanfile
/public/ss_10m_census2_scanfile
/public/ss_10m_census3_scanfile
/public/ss_1ha_census1_scanfile
