
.note {
	padding: 0 10px 10px 0px;
	line-height: 1.5em;
}


.text_note_li {
	cursor: pointer;
}


.sl_download {
	border:0;
	background-color:#003C9D;
	color:#fff;
	border-radius:10px;
	cursor:pointer;
	padding: 5px;
	width: fit-content;
}

.sl_download:hover{
	color:#003C9D;
	background-color:#fff;
	border:2px #003C9D solid;
}

/*輸入表*/




.species_choice2 {
border: 1px solid  #A568FF;
	font-size: 100%;
	font-family: Arial, Helvetica, sans-serif;
 background-color: #E1CEFF;
}

.entrytablediv {
	margin-top: 10px;
}



/* 表頭顏色 */
.style1 {
	background-color: #D6DE22;
	color:black;
	font-size:85%;
	font-style:bold;
}

.style2 {
	background-color: #FFFF7D;
}



#boxtitle2, .boxtitle, .boxtitle2 { 
	font-weight: bold;
	background-color:#446919;
	color:#FFFFFF;
	padding:5px 10px;
	text-align: center;
}

#prev {
	float: left;
	width: 50px;
}
#name {
	float: left;
	margin: 0 250px;
}

#boxtitle2 a:link {  /**右側**/
	text-decoration: none;
	color: #FFFFFF;
}
#boxtitle2 a:visited {
	text-decoration: none;
	color: #FFFFFF;
}
#boxtitle2 a:hover {
	text-decoration: underline;
	color: #FFFFFF;
}
#boxtitle2 a:active {
	text-decoration: none;
	color: #FFFFFF;
}


.recruittableout, .slrolltableout {
	display: none;
}

.savenote {
	font-weight:500; 
	margin-left: 30px; 
	font-size:90%; 
	color:red;
}

.prev, .next {
	margin-left: 20px;
	cursor: pointer;
	text-decoration: underline;
	display: none;
}



.fsSeedlingTagtable{
	margin: 20px 20px;
}