.tablenote{
	display: inline-block;
	margin-left: 20px;
}

.addcovtableout {
	display: none;
}

.fstreeStemidtable{
	margin: 20px 20px;
}

.fstreeStemidtable table th{
	text-align: center;
}

.fstreeStemidtable table tbody th{
	font-weight: 500;
}